/*****************************************************************
 * Header
 *****************************************************************/

#header {
	padding: px(40) 0;
}

#gamer-score {
	font-family: $font-2;
	font-size: px(14);
	font-weight: 400;
	text-align: center;
	color: $light;
}
